# Dependencies
node_modules

# Build
dist
storybook-static

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Bundle analyzer output (optional, can commit if needed)
# dist/stats.html
